{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationCodeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <meta http-equiv="refresh" content="5">


    <div class="example-wrapper">


            {% if customers is defined %}
                <h1>Dabar pas daktara yra</h1>
                <table id="admittedCustomers" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Doctor Name</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for key,customer in customers %}
                    <tr>
                        <td>{{ customer.customerFirstName }}</td>
                        <td>{{ doctorFirstNames[key] }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
            {% endif %}

        {% if upcomingCustomers is defined %}
            <h1>Upcoming Visits</h1>
            <table id="upcomingCustomers" class="table table-striped">
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Doctor Name</th>
                    <th>Time Left till Appointment</th>
                </tr>
                </thead>
                <tbody>
                {% for key,customer in upcomingCustomers %}
                    {% if timeLeftForCustomers[key] != '0' %}
                    <tr>
                        <td>{{ customer.customerFirstName }}</td>
                        <td>{{ doctorFirstNamesUpcomingVisit[key] }}</td>
                        <td>{{ timeLeftForCustomers[key] }}</td>
                    </tr>
                    {% else %}
                        <td>{{ customer.customerFirstName }}</td>
                        <td>{{ doctorFirstNamesUpcomingVisit[key] }}</td>
                        <td>The doctor should appoint you soon</td>
                        {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}


    </div>
{% endblock %}
